body{
	margin: 0;
	border: 0;
}

#navbar #TeamDaddy{
	float: left;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0 1%;
	overflow: hidden;
	background-color: #79BE15;
}

#navbar li {
	float: right;
}

#navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar li a:hover {
	background-color: #89CE25;
}

/*@media only screen and (max-width: 600px) {
  body{
    font-size: 3em;
  }
}*/