#header{
	text-align: center;
}

table{
	border: 1px solid black;
	margin: auto;
}
form{
	width: fit-content;
	margin: auto;
	margin-top: 4px;
	margin-bottom: 10px;
}
button{
	border: 0;
	border-radius: 1px;
	margin-left: 4px;
	height: 100%;
	padding: 6px 8px;
	background-color: #79BE15;
	color: white;
}
select{
	padding: 4px 12px;
	border: 1px solid #101010;
}